@import url("https://fonts.googleapis.com/css2?family=Tinos&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

[type="text"]:focus ~ .input-text,
[type="text"]:valid ~ .input-text {
  @apply -translate-y-8;
}

[type="textarea"]:focus ~ .input-text {
  @apply text-red-500 -translate-y-10;
}

@layer components {
  .body {
    font-family: "Tinos", serif;
    color: #ffffff;
  }

  .input {
    font-size: 1em;
    color: white;
    outline: none;
    border-bottom: 1px white solid;
    background-color: transparent;
    transition: linear all 200ms;
    height: 2rem;
    width: 100%;
  }

  .m-container {
    width: 100%;
    padding-inline: 4rem;
  }

  .heading {
    font-family: "Tinos", serif;
    font-style: normal;
    font-weight: 600;
    color: #ffffff;
    text-transform: uppercase;
    line-height: 65px;
    letter-spacing: 3px;
  }

  .heading-1 {
    font-size: 4em;
  }

  .heading-2 {
    font-size: 2em;
  }

  .body-1 {
    font-style: normal;
    font-weight: 600;
    font-size: 1.5em;
  }

  .body-2 {
    font-style: normal;
    font-weight: 400;
    font-size: 1.15em;
  }
  .primary-button {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 10px 22px;
    gap: 10px;
    border: 2px solid #ffffff;
    border-radius: 8px;
    font-size: 1em !important;
    color: white;
  }

  .footer-box {
    display: flex;
    flex-direction: column;
    gap: 0.3rem;
  }

  .footer-text {
    font-size: 0.9em;
    color: gray;
  }

  .pause {
    animation-play-state: paused;
  }

  @media only screen and (max-width: 700px) {
    .m-container {
      padding-inline: 2rem;
    }
  }
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  scroll-padding-top: 70px;
}
